p{
    font-family: 'YuMincho';
}

img{
    max-width: 100%;
}

footer p{
    color: #fff;
    text-align: center;
    padding: 1em;
}

.unit{
    font-size: 0.5em;
}

.relative{
    position: relative;
}

.flex{
    display: flex;
}

.center{
    text-align: center;
}

.back_brown{
    background-color: #522411;
}

.contents{
    padding: 3em;
}

.clear{
	clear:both;
}

.caption{
    font-family: 'Meiryo';
    font-weight: bold;
    color: #522411;
}

.text_yellow{
    color: #f3edbd;
}

.titile_container{
    display: flex;
    align-items: center;
}

.logo{
    width: 60%;
}

.logo img{
    margin-left: 50%;
    transform: translateX(-50%);
}

.photo_top{
    width: 40%;
}

.img_container{
    padding-top: 2em;
    width: 20%;
}

.imgR{
    float: right;
}

.text_container{
    width: 60%;
    padding: 0 1em;
}

.top3 .flex{
    justify-content: space-evenly;
}

.top3 img{
    width: 80%;
}

.number{
    font-size: 1.5em;
    font-weight: bold;
    font-family: Monotype Corsiva;
}

.menu_container{
    margin-left: 20%;
    width: 60%;
    padding-top: 1em;
}

.menu_item{
    display: flex;
    justify-content: space-around;
}

@media(max-width: 1000px){
    .flex{
        display: block;
    }

    .main_container{
        padding-top: 2em;
    }

    .contents{
        padding: 1em;
    }

    .about .caption, .info .caption{
        padding: 1em 0;
    }

    .about .caption{
        font-size: 95%;
    }

    .about .img_container,.menu .img_container{
        padding-top: 0;
        float: right;
    }

    .top3 .img_container{
        width: 50%;
        margin-left: 50%;
        transform: translateX(-50%);
        font-size: 3em;
        padding-top: 0;
    }

    .info  .img_container{
        width: 50%;
        position: absolute;
        bottom: 5em;
        left: 50%;
        transform: translateX(-50%);
    }

    .text_container{
        width: 90%;
    }
    
    .menu_container {
        font-size: 2em;
    }

    .info{
        position: relative;
        padding-bottom: 30em;
    }
}